
<!DOCTYPE html>
<html>
    <body>
       <h2>Color Borrado</h2>
      <script>
         setTimeout(function(){
            window.location.href = '/';
         }, 3000);
      </script>
      <p>Web page redirects after 3 seconds.</p>
   </body>
</html>